@page
@model UnitedYouthOrchestra7.Pages.SchoolyearPage.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Schoolyear</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Schoolyear.Year6orEarlier)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Schoolyear.Year6orEarlier)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Schoolyear.Year7)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Schoolyear.Year7)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Schoolyear.Year8)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Schoolyear.Year8)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Schoolyear.Year9)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Schoolyear.Year9)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Schoolyear.Year10)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Schoolyear.Year10)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Schoolyear.Year11)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Schoolyear.Year11)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Schoolyear.Year12)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Schoolyear.Year12)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Schoolyear.Year13)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Schoolyear.Year13)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Schoolyear.Other)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Schoolyear.Other)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Schoolyear.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
